.settings-container {
  position: fixed;
  right: 2.5rem;
  top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 0.75rem;
  z-index: 10;
}

.settings-svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--ContainerColor);
  cursor: pointer;
}

.settings-svg {
  width: 1.875em;
  height: 1.875em;
  color: var(--MainColor);
  transition: transform 0.5s;
}

.settings-svg-container:hover .settings-svg {
  transform: rotate(-90deg);
}

.settings-menu-container {
  position: relative;
  transform-origin: top right;
  transform: scale(0);
  transition: transform 0.3s;
}

.settings-option-container {
  position: absolute;
  top: 0;
  right: 0;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0.75rem;
  transform-origin: top right;
  transition: transform 0.3s;
  cursor: pointer;
}

.settings-option {
  color: var(--MainColor);
  font-weight: 500;
  padding: 0.5em 0.75em;
  font-size: 1.25em;
  border-radius: 10rem;
  background-color: var(--ContainerColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-scale0 {
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.1s;
}

.settings-scale1 {
  transform: scale(1);
}

.settings-svg-right-arrow {
  height: 0.75em;
  padding-left: 0.5em;
}
